{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url "index_page" %}" class="logo d-flex align-items-center me-auto">
        <img src="{% static 'assets/img/logo.png' %} " alt="">
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url "index_page" %}#hero" class="active">Home</a></li>
          <li><a href="{% url "index_page" %}#about">About</a></li>
          <li><a href="{% url "index_page" %}#services">Services</a></li>
          <li><a href="{% url "blog" %}#blog-posts">Blog</a></li>
          <li><a href="{% url "faqs" %}#faq-2">FAQs</a></li>
          <li><a href="{% url "contact" %}#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>